<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ Copyright (c) 2010, Red Hat Inc. or third-party contributors as
  ~ indicated by the @author tags or express copyright attribution
  ~ statements applied by the authors.  All third-party contributions are
  ~ distributed under license by Red Hat Inc.
  ~
  ~ This copyrighted material is made available to anyone wishing to use, modify,
  ~ copy, or redistribute it subject to the terms and conditions of the GNU
  ~ Lesser General Public License, as published by the Free Software Foundation.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
  ~ or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with this distribution; if not, write to:
  ~ Free Software Foundation, Inc.
  ~ 51 Franklin Street, Fifth Floor
  ~ Boston, MA  02110-1301  USA
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>
        
        <property name="connection.url">jdbc:mysql://127.0.0.1/ood?characterEncoding=utf8</property>
        <property name="connection.username">root</property>
        <property name="connection.password">mysql</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        
        <property name="hibernate.current_session_context_class">thread</property>
        
        <!-- Names the annotated entity class -->
        <mapping class="edu.sharif.ce.ood.taghi.namayeshgah.model.entity.BoothEntity"/>
        <mapping class="edu.sharif.ce.ood.taghi.namayeshgah.model.entity.BoothLogEntity"/>
        <mapping class="edu.sharif.ce.ood.taghi.namayeshgah.model.entity.FilesEntity"/>
        <mapping class="edu.sharif.ce.ood.taghi.namayeshgah.model.entity.LogEntity"/>
        <mapping class="edu.sharif.ce.ood.taghi.namayeshgah.model.entity.NewsEntity"/>
        <mapping class="edu.sharif.ce.ood.taghi.namayeshgah.model.entity.PenaltyEntity"/>
        <mapping class="edu.sharif.ce.ood.taghi.namayeshgah.model.entity.PeopleReportEntity"/>
        <mapping class="edu.sharif.ce.ood.taghi.namayeshgah.model.entity.PhoneNumberEntity"/>
        <mapping class="edu.sharif.ce.ood.taghi.namayeshgah.model.entity.PollEntity"/>
        <mapping class="edu.sharif.ce.ood.taghi.namayeshgah.model.entity.PostStuffEntity"/>
        <mapping class="edu.sharif.ce.ood.taghi.namayeshgah.model.entity.ProcessEntity"/>
        <mapping class="edu.sharif.ce.ood.taghi.namayeshgah.model.entity.ProcessLogEntity"/>
        <mapping class="edu.sharif.ce.ood.taghi.namayeshgah.model.entity.PropertyEntity"/>
        <mapping class="edu.sharif.ce.ood.taghi.namayeshgah.model.entity.PropertyLogEntity"/>
        <mapping class="edu.sharif.ce.ood.taghi.namayeshgah.model.entity.QuestionEntity"/>
        <mapping class="edu.sharif.ce.ood.taghi.namayeshgah.model.entity.ReceiptEntity"/>
        <mapping class="edu.sharif.ce.ood.taghi.namayeshgah.model.entity.RequestEntity"/>
        <mapping class="edu.sharif.ce.ood.taghi.namayeshgah.model.entity.ShowPlaceEntity"/>
        <mapping class="edu.sharif.ce.ood.taghi.namayeshgah.model.entity.StoreStuffEntity"/>
        <mapping class="edu.sharif.ce.ood.taghi.namayeshgah.model.entity.UserEntity"/>
        <mapping class="edu.sharif.ce.ood.taghi.namayeshgah.model.entity.ValidationRuleEntity"/>
        
    </session-factory>

</hibernate-configuration>